

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
 --Orange: hsl(25, 97%, 53%);
 --White: hsl(0, 0%, 100%);
 --Light-grey: hsl(217, 12%, 63%);
 --Medium-grey: hsl(216, 12%, 63%);
 --Dark-blue: hsl(213, 19%, 18%);
 --Very-dark-blue: hsl(216, 12%, 8%);
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

ul{
 list-style-type: none;
}

body{
 font-family: "Overpass", sans-serif;
 font-size: 15px;
 background-color: var(--Very-dark-blue);
 margin: 1.5rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
}

button{
 font-family: inherit;
}

p {
 line-height: 1.8;
}

.main-container, .thank-you {
 background-color: var(--Dark-blue);
 padding: 1.5rem;
 border-radius: 0.625rem;
 max-width: 400px;
}

.main-container img{
 background-color: hsl(213, 19%, 24%);
 padding: 0.5rem;
 border-radius: 50%;
}

.main-container h1{
 color: #fff;
 margin: 2rem 0 1rem;
}

.main-container p {
 color: var(--Light-grey);
 margin-bottom: 1rem;
}

.main-container ul {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 padding-bottom: 1rem;
}

.main-container ul li button {
 width: 3rem;
 height: 3rem;
 border-radius: 50%;
 border: none;
 background-color: hsl(213, 19%, 24%);
 color: var(--White);
 padding-top: 0.2rem;
 cursor: pointer;
 transition: 0.3s;
}

.main-container ul li button:hover{
 background-color: var(--Orange);
}

.main-container ul li button:focus{
 background-color: hsl(217, 12%, 63%);
}

.btn-submit {
 color: var(--White);
 background-color: var(--Orange);
 width: 100%;
 padding: 0.8rem 0.6rem;
 border: none;
 border-radius: 30px;
 text-transform: uppercase;
 letter-spacing: 0.1rem;
 cursor: pointer;
 transition: 0.3s;
}

.btn-submit:hover{
 background-color: var(--White);
 color: var(--Orange);
}

.thank-you{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
}

.thank-you img{
 display: block;
 margin: 0 auto 2rem;
}

.thank-you p.grey{
 color: var(--Orange);
 background-color: hsl(213, 19%, 24%);
 border-radius: 30px;
 padding: 0.2rem 0.5rem 0; 
 font-size: 0.9rem;
 margin-bottom: 2rem;
}

.thank-you h2 {
 color: var(--White);
 margin-bottom: 1rem;
}

.thank-you p {
 color: var(--Medium-grey);
 margin-bottom: 2rem;
}

.hidden{
 display: none;
}

.attribution { 
 font-size: 14px; 
 text-align: center;
 color: var(--White);
 margin-top: 2rem; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
 }



